<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>DaySave.app</h5>
          <p>Save, organize, and revisit valuable content from your social media feeds.</p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about" class="text-white">About</a></li>
            <li><a href="/privacy" class="text-white">Privacy Policy</a></li>
            <li><a href="/terms" class="text-white">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li><a href="mailto:info@daysave.app" class="text-white">info@daysave.app</a></li>
            <li><a href="/support" class="text-white">Support</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>© <%= new Date().getFullYear() %> DaySave.app. All rights reserved.</p>
      </div>
    </div>
  </footer>